.toolbar-btn {
  padding: 10px 0;
}
.toolbar-btn__space {
  margin-left: 20px;
}
.add-view {
  position: fixed;
  bottom: 0px;
  height: 250px;
  width: 100%;
  padding: 0 20px;
  background-color: #eee;
  box-shadow: 0px -3px 4px #ccc;
}
.display-none {
  display: none;
}
