.toolbar-btn {
  padding: 10px 0;
}
.toolbar-btn__space {
  margin-left: 20px;
}
.add-view {
  position: fixed;
  bottom: 0px;
  height: 250px;
  width: 100%;
  padding: 0 20px;
  background-color: #eee;
  box-shadow: 0px -3px 4px #ccc;
}
.display-none {
  display: none;
}
.list {
  float: left;
  /*margin: 10px 0 0 10px;*/
  width: 32%;
  border-top: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
}
.month-tile {
  float: left;
  width: 250px;
  padding: 5px;
  height: 130px;
}
.month-priority {
  float: right;
}
.month-title {
  padding-right: 35px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}
.month-content {
  margin-bottom: 0;
  color: #999;
}
.month-time {
  margin-bottom: 0;
  color: #999;
}
